@media screen and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 99vh;
        position: absolute;
        margin-top: 101vh;
        margin-left: 0;
    }

    
}